{% extends 'layout/base.twig' %}

{% block content %}
    <h2 class="border-bottom py-2">Board List</h2>

    <div class="row my-3">
        <div class="col-6">
            <a href="{{ url_for('board_register') }}" class="btn btn-primary">질문 등록하기</a>
        </div>
        <form class="col-6">
            <div class="input-group">
                <input type="search" name="search" id="search" class="form-control" value="{{ search }}"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </form>
    </div>

    <p>TOTAL :: {{ pagination.total }}</p>

    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if data %}
            {% for idx, row in data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>
                        <a href="{{ url_for('board_single', { id: row.id }) }}">{{ row.title }}</a>
                    </td>
                    <td>{{ row.created|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if pagination.currentPage > 1 %}
        <a href="{{ url_for('board_list') }}?page={{ pagination.getPrev() }}">PREV</a>
    {% endif %}

    {% for p in pagination.getPagination() %}
        {% if p == pagination.currentPage %}
            <span>{{ p }}</span>
        {% else %}
            <a href="{{ url_for('board_list') }}?page={{ p }}">{{ p }}</a>
        {% endif %}
    {% endfor %}


    {% if pagination.currentPage < pagination.getTotalPages() %}
        <a href="{{ url_for('board_list') }}?page={{ pagination.getNext() }}">NEXT</a>
    {% endif %}
{% endblock %}
